<h1>Welcome to an inventory!</h1>

<table style="border-spacing: 30px">
	<% @inventory.items.each do |i| %>
	<tr>
		<td><%= i.type.name %></td>
		<td><img src="<%=i.type.image_url%>"></td>
		<td>
		<%= form_tag({controller: "inventories", action: "feed"}, method: "post") do %>
			<%= hidden_field_tag("item", i.id) %>
			<%= select_tag "pet_id", options_from_collection_for_select(@current_user.pets, "id", "name") %>			
			<%= submit_tag("Feed pet!") %>
		<% end %>
		</td>
	</tr>
	<% end %>
</table>
