<h1><%= @breed.name %></h1>
<img src=<%= @breed.image_url %>>
<h2>Starting Stats:</h2>
<p>Health: <%= @breed.max_health %></p>
<p>Strength: <%= @breed.strength %></p>
<p>Dexterity: <%= @breed.dexterity %></p>
<p>Defense: <%= @breed.defense %></p>
<p><%= @breed.name %>s get hungry <%= @breed.hunger_rate %> time(s) per hour. Don't forget to feed your pet!</p>

