<h1><%= @pet.name %></h1>
<img src=<%= @pet.breed.image_url %>>
<p>Breed: <%= @pet.breed.name %></p>
<p>Health: <%= @pet.health %> / <%= @pet.max_health %></p>
<p>Hunger: <%= @pet.hunger %> / 100</p>
<p><%= @pet.breed.name %>s get hungry <%= @pet.breed.hunger_rate %> time(s) per hour. Don't forget to feed your pet!</p>
<p>Strength: <%= @pet.strength %></p>
<p>Dexterity: <%= @pet.dexterity %></p>
<p>Defense: <%= @pet.defense %></p>

<%= form_tag(random_pets_path, method: :post) do %>
  <ul>
    <% Breed.all.each do |breed| %>
      <li>
      <label class='breed-select'>
        <%= check_box_tag 'breed_id[]', breed.id -%>
        <%=  breed.name %>
      </label>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "Generate Pets"%>
<% end%>
