<h1>Admin Tools! :o</h1>
<p><%= link_to "Create a pet", controller: "admin_tools", action: "create_pet" %></p>
<p><%= link_to "Change a pet", controller: "admin_tools", action: "change_pet" %></p>
<p><%= link_to "Create a breed", controller: "admin_tools", action: "create_breed" %></p>
<p><%= link_to "Change a breed", controller: "admin_tools", action: "change_breed" %></p>
<p><%= link_to "Create an item type", controller: "admin_tools", action: "create_item_type" %></p>
<p><%= link_to "Change an item type", controller: "admin_tools", action: "change_item_type" %></p>
<p><%= link_to "Create an item", controller: "admin_tools", action: "create_item" %></p>
<p><%= link_to "Change an item", controller: "admin_tools", action: "change_item" %></p>
<p><%= link_to "Create a shop", controller: "admin_tools", action: "create_shop" %></p>
<p><%= link_to "Change a shop", controller: "admin_tools", action: "change_shop" %></p>
<p><%= link_to "Add/remove user items/pitpoints/pets", controller: "admin_tools", action: "change_user_stuff" %></p>
