<div id="register">
  <h1>Join Pitpets!</h1>
  <%= form_tag({controller: "users", action: "create"}, method: "post") do %>
    <%= label_tag(:username, "username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email, "email:") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:password, "password:") %>
    <%= password_field_tag(:password) %>
    <%= label_tag(:password_confirmation, "confirm password:") %>
    <%= password_field_tag(:password_confirmation) %>
    <%= submit_tag("register") %>
  <% end %>
</div>
