<h1>Player's <%= @item.item_type.name %></h1>
<img src = "<%= @item.item_type.image_url %>">
<p><%= @item.item_type.description %></p>
<h3>Effects:</h3>
<p><% @item.item_effects.each do |effect| %>
<%= effect.effect_type.name %> : <%= effect.modifier1 %>
<% end %></p>
