<!DOCTYPE html>
<html>
<head>
  <title>Pitpets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
  <div id="userbar" class="bar">
    <div style="float: right;">
      <% if session[:user_id] %>
        <%= render "/layouts/userbar" %>
      <% else %>
        <%= render "/layouts/login" %>
      <% end %>
    </div>
  </div>
  <% if alert %>
    <div id="alert" class="bar"><%= alert %></div>
  <% end %>
  <% if notice %>
    <div id="notice" class="bar"><%= notice %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
