<!DOCTYPE html>
<html>
<head>
  <title>Pitpets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
  <div id="bar">
    <div style="float: right;"><%= yield :bar %></div>
  </div>
  <% if alert %>
    <div id="alert"><%= alert %></div>
  <% end %>
  <% if notice %>
    <div id="notice"><%= notice %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
